html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.waves {


  /* background: url('../../../waves/giphy.gif') repeat; */
  /* background: url('../../../waves/200.gif') repeat; */
  /* background: url('../../../waves/giphy (3).gif') repeat; */
  background: url('../../../waves/tiny.gif') repeat;
  background-size: 70px;
  height: 500px;
}
