html {
  margin: 0;
  padding: 0;
}

body {
  margin: 50px auto;
  max-width: 80%;
  font-family: monospace;
}

canvas {
  display: block;
}

.hidden {
  display: none;
  /* visibility: hidden;
  visibility: visible; */
}
